*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: "Comfortaa", sans-serif;
    min-height: 100vh;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  pointer-events: auto;
}

.app{
    position : relative;
    width: min(90vw, 450px);
    max-height: 90vh;
}

.screen{
    position:absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.screen.active {
  opacity: 1;
  pointer-events: auto;
}


.front_page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f1a4;
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 40px;
}

.dancing_egg{
    width: 100%;
    height: 100%;
}

.front_page,
.egg_container {
  transition: opacity 0.3s ease;
}


.side_h1{
    color:#EBA446
}

.head_title{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    padding:20px;
    font-size: 1rem;
}

.btn_container{
    padding-bottom: 2rem;
    height:10%;
    margin-top:2rem;
}

.start_btn{
    width:100px;
    height:auto;
    padding:5px 8px;
    box-shadow: 2.5px 2.5px 0px 2.5px  #D99C4C;
    font-family: "Verdana", sans-serif;
    background-color: #EBA446;
    border: none;
    cursor: pointer;
    transition : all 0.07s ease;
    font-weight: bold;
}

.start_btn:hover {
  filter: brightness(1.05);
}

.start_btn:active{
    box-shadow: 0.5px 0.5px 0px 0.5px #D99C4C;
    transform: translateY(2px);
    transform: translateX(2px);
}

.egg_container{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f8f1a4;
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 40px;
    padding:1.5rem;
}

.egg_choose{
    width:40%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #faf1e3;
    border-radius:20px;
    box-shadow: 3px 3px 0px 3px #DBD6CE;
    transition : all 0.05s ease;
}

.egg_choose:hover{
    filter : brightness(1.05);
}

.egg_choose:active{
    transform: translateX(3px);
    transform: translateY(3px);
    box-shadow: 0.5px 0.5px 0px 0.5px #DBD6CE ;
}

.egg{   
    width: 85%;
    height: 85%;
    object-fit: contain;
}

.exit_1{
    display:flex;
    position : absolute;
    top:15px;
    right:20px;
    width:5%;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 1px 1px 0px 1px #E5A135 ;
    cursor: pointer;
    transition : all 0.05s ease;
}

.exit_1:hover{
    filter : brightness(1.05);
}

.exit_1:active{
    transform: translateX(0.5px);
    transform: translateY(0.5px);
    box-shadow: 0.5px 0.5px 0px 0.5px #DBD6CE ;
}


.img_exit{
    width:100%;
    height: 100%;
    overflow: hidden;
}

.timer_page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #958882;
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 40px;
    padding-bottom: 1.5rem;
    gap:1rem;
}

.egg_timer{
    width: 70%;
    height: 70%;
    object-fit: contain;
}

#timer{
    color:#e7ae89;
}

.timer_triger{
    width:100px;
    height:auto;
    padding:5px 8px;
    box-shadow: 2.5px 2.5px 0px 2.5px  #D99C4C;
    font-family: "Verdana", sans-serif;
    background-color: #EBA446;
    border: none;
    cursor: pointer;
    transition : all 0.07s ease;
    font-weight: bold;
}

.timer_triger:hover {
  filter: brightness(1.05);
}

.timer_triger:active{
    box-shadow: 0.5px 0.5px 0px 0.5px #D99C4C;
    transform: translateY(2px);
    transform: translateX(2px);
}

.exit_2{
    display:flex;
    position : absolute;
    top:15px;
    right:20px;
    width:5%;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 1px 1px 0px 1px #E5A135 ;
    cursor: pointer;
    transition : all 0.05s ease;
}

.exit_2:hover{
    filter : brightness(1.05);
}

.exit_2:active{
    transform: translateX(0.5px);
    transform: translateY(0.5px);
    box-shadow: 0.5px 0.5px 0px 0.5px #DBD6CE ;
}